# Virtual environment
.venv/
.venv*/
.Python
bin/
include/
lib/
lib64/
pip-selfcheck.json

# Environment variables
.env

# Database
*.db

# Compiled Python files/directory
__pycache__
*.pyc

# Dependency directories
node_modules/
/dist/